* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {

    --guinda: #7B1E3A;
    --guinda-oscuro: #5B1429;
    --guinda-claro: #96324F;

    --morado: #DC88F7;
    --morado-hover: #CE70F0;

    --verde: #2E7D32;
    --rojo: #C62828;
    --azul: #1976D2;

    --gris-fondo: #F4F1F3;
    --gris: #777;

    --blanco: #FFFFFF;
    --texto: #333333;

}


body {

    font-family:
        Arial,
        Helvetica,
        sans-serif;

    background:
        linear-gradient(
            135deg,
            #f5eff2,
            #ece5e8
        );
